<template>
  <component :is="componentName"
    type="output"
    :outputType="outputType"
    :count="count"
    :raw-code="rawCode" />
</template>

<script>
import CodeCell from '../code/index.vue';
import Html from './html.vue';
import Image from './image.vue';

export default {
  props: {
    count: {
      type: Number,
      required: false,
      default: false,
    },
    output: {
      type: Object,
      requred: true,
    },
  },
  components: {
    'code-cell': CodeCell,
    'html-output': Html,
    'image-output': Image,
  },
  data() {
    return {
      outputType: '',
    }
  },
  computed: {
    componentName() {
      if (this.output.text) {
        return 'code-cell';
      } else if (this.output.data['image/png']) {
        this.outputType = 'image/png';

        return 'image-output';
      } else if (this.output.data['text/html']) {
        this.outputType = 'text/html';

        return 'html-output';
      } else if (this.output.data['image/svg+xml']) {
        this.outputType = 'image/svg+xml';

        return 'html-output';
      } else {
        this.outputType = 'text/plain';

        return 'code-cell';
      }
    },
    rawCode() {
      if (this.output.text) {
        return this.output.text.join('');
      } else {
        return this.dataForType(this.outputType);
      }
    },
  },
  methods: {
    dataForType(type) {
      let data = this.output.data[type];

      if (typeof data === 'object') {
        data = data.join('');
      }

      return data;
    }
  },
};
</script>
