<template>
  <div :class="type">
    <prompt
      :type="promptType"
      :count="count" />
    <pre
      ref="code"
      v-text="code">
    </pre>
  </div>
</template>

<script>
  import hljs from 'highlight.js/lib/highlight';
  import xml from 'highlight.js/lib/languages/xml';
  import javascript from 'highlight.js/lib/languages/javascript';
  import python from 'highlight.js/lib/languages/python';
  import Prompt from '../prompt.vue';

  hljs.registerLanguage('xml', xml);
  hljs.registerLanguage('javascript', javascript);
  hljs.registerLanguage('python', python);

  export default {
    components: {
      'prompt': Prompt,
    },
    props: {
      count: {
        type: Number,
        required: false,
      },
      type: {
        type: String,
        required: true,
      },
      rawCode: {
        type: String,
        required: true,
      },
    },
    computed: {
      code() {
        return this.rawCode;
      },
      promptType() {
        const type = this.type.split('put')[0];

        return type.charAt(0).toUpperCase() + type.slice(1);;
      },
    },
    mounted() {
      hljs.highlightBlock(this.$refs.code);
    },
  };
</script>
