<template>
  <div class="cell">
    <code-cell
      type="input"
      :raw-code="rawInputCode"
      :count="cell.execution_count" />
    <output-cell
      v-if="hasOutput"
      :count="cell.execution_count"
      :output="output" />
  </div>
</template>

<script>
import CodeCell from './code/index.vue';
import OutputCell from './output/index.vue';

export default {
  components: {
    'code-cell': CodeCell,
    'output-cell': OutputCell,
  },
  props: {
    cell: {
      type: Object,
      required: true,
    },
  },
  computed: {
    rawInputCode() {
      return this.cell.source.join('');
    },
    hasOutput() {
      return this.cell.outputs.length;
    },
    output() {
      return this.cell.outputs[0];
    },
  },
};
</script>
