<template>
  <div class="prompt">
    <span v-if="type && count">
      {{ type }} [{{ count }}]:
    </span>
  </div>
</template>

<script>
  export default {
    props: {
      type: {
        type: String,
        required: false,
      },
      count: {
        type: Number,
        required: false,
      },
    },
  };
</script>
