<template>
  <div v-if="hasNotebook">
    <component
      v-for="(cell, index) in notebook.cells"
      :is="cellType(cell.cell_type)"
      :cell="cell"
      :key="index" />
  </div>
</template>

<script>
  import {
    MarkdownCell,
    CodeCell,
  } from './cells';

  export default {
    components: {
      'code-cell': CodeCell,
      'markdown-cell': MarkdownCell,
    },
    props: {
      notebook: {
        type: Object,
        required: true,
      },
    },
    methods: {
      cellType(type) {
        return `${type}-cell`;
      },
    },
    computed: {
      hasNotebook() {
        return Object.keys(this.notebook).length;
      },
    },
  };
</script>
