.cell,
.input,
.output {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.cell:not(.text-cell) {
  flex-direction: column;
}

.prompt {
  padding: 0 10px;
  min-width: 7em;
  font-family: monospace;
}

.cell pre {
  margin: 0;
  width: 100%;
}

.markdown .katex {
  display: block;
  text-align: center;
}
